<main class="login__main">
  <div class="main">
    <div class="noAuth">
      <h1 class="title__home">Acceso no Autorizado</h1>

      <div class="login__container" id="switch-c1">
        <div class="img img__nopasa">
          <img
            class="img__notFound"
            src="/images/accesDenied.svg"
            alt=""
          /></div>
      </div>
    </div>
  </div>
</main>