{{>navBar}}
<main class="main__login">
    <div class="main">
        <div class="notFound__container">
            <h1 class="form__title title">Pagina no encontrada</h1>
            <div class="img"><img class="img__notFound" src="/images/page-not-found.svg" alt="not Found"></div>
        </div>
    </div>
</main>